.carousel {
    position: relative;
    margin-top: -20px;
}

.row {
    width: 100%;
    padding-top: 65px;
    text-align: center;
    margin: 0;
}

img {
    margin: 0 auto;
}

.col-md-4 h3 {
    text-align: center;
}