.carousel {
    position: relative;
    margin-top: -20px;
}

.row {
    padding: 25px;
}

.image {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.col-md-4 h3 {
    text-align: center;
}